# Data Science Tools and Ecosystem

## Author
Yooinn Hong

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List data science tools
* Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. dplyr
3. caret

|Data Science Tools|
|---|
|VS Code|
|Git|
|Ruby on Rails|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200/60